<div class="pt-4">
  <%= form_with(model: @user, class: "user-form") do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :current_password, 'Current Password' %>
    <%= f.password_field :current_password %>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
    <% if @user.new_record? %>
      <%= f.submit 'Create Account' %>
    <% else %>
      <%= f.submit 'Update Account' %>
    <% end %>
  <% end %>
</div>
