<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToeRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-black text-slate-100">
    <%= render "layouts/header" %>
    <main class="py-20 min-h-[100svh] max-w-3xl mx-auto flex justify-center items-center">
      <div class="bg-white p-6 lg:p-10 rounded-lg">
        <%= yield %>
        <%= render "layouts/flash" %>
      </div>
    </main>
  </body>
</html>
